<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="produtos.css">
    
    <title>Document</title>
    <script src="produtos.js"></script>
</head>
<body>Imagem do produto
    
    <label class="picture" tabindex="0" for="picture_input">
        <input type="file" accept="image/*" id="picture_input">
        <span class="picture_img">Selecione a imagem
            <img class="img_prod">
        </span>

    </label>
    <div class="dis_preco"><legend>Descrição</legend>

     <textarea name="message" rows="10" cols="30"></textarea>
     <legend>Categoria</legend>
     <div class="categoria">
     <form>
        
        <input type="radio" id="Eletro-domestico" name="categoria" value="Eletro-domestico">
        <label for="Eletro-domestico">Eletro-domestico</label><br>
        <input type="radio" id="Moveis" name="categoria" value="Moveis">
        <label for="Moveis">Móveis</label><br>
        <input type="radio" id="Eletronicos" name="categoria" value="Eletronicos">
        <label for="Eletronicos">Eletrônicos</label>
      </form>
    </div>
     <legend>Preço</legend>

     <input type="number" id="productPrice" name="productPrice" step="0.01" min="1">
    </div>
    
    <script src="produtos.js"></script>
</body>
</html>