<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="pagamento.css">
    <link rel="stylesheet" href="carrinho.css">
    <title>Finalizar Compra</title>
</head>
<body>
    <h2>Finalizar Compra</h2>
    <div id="carrinho">
        <h3>Carrinho de Compras</h3>
        <table id="itens-carrinho" class="table">
            <thead>
                <tr>
                    <th>Imagem</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Preço</th>
                    <th>Quantidade</th> 
                    <th>Subtotal</th>
                    <th>Ação</th>
                   
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <p id="total-carrinho">Total: R$ 0.00</p>
    </div>

    <form class="form" id="form-finalizar-compra"  method="post">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" >
        <a id="nome-error" class="error"></a>


        <label for="email">Email:</label>
        <input type="email" id="email" name="email" >
        <a id="email-error" class="error"></a>

        <label for="endereco">Endereço de Entrega:</label>
        <input type="text" id="endereco" name="endereco" >
        <a id="endereco-error" class="error"></a>
        
        <label for="numero">Número:</label>
        <input type="text" id="numero" name="numero" >
        <a id="numero-error" class="error"></a>

        <label for="cidade">Cidade:</label>
        <input type="text" id="cidade" name="cidade" >
        <a id="cidade-error" class="error"></a>

        <label for="estado">Estado:</label>
        <select id="estado" name="estado" >
            <option value="">Selecione...</option>
            <option value="AC">Acre</option>
            <option value="AL">Alagoas</option>
            <option value="AP">Amapá</option>
            <option value="AM">Amazonas</option>
            <option value="BA">Bahia</option>
            <option value="CE">Ceará</option>
            <option value="DF">Distrito Federal</option>
            <option value="ES">Espírito Santo</option>
            <option value="GO">Goiás</option>
            <option value="MA">Maranhão</option>
            <option value="MT">Mato Grosso</option>
            <option value="MS">Mato Grosso do Sul</option>
            <option value="MG">Minas Gerais</option>
            <option value="PA">Pará</option>
            <option value="PB">Paraíba</option>
            <option value="PR">Paraná</option>
            <option value="PE">Pernambuco</option>
            <option value="PI">Piauí</option>
            <option value="RJ">Rio de Janeiro</option>
            <option value="RN">Rio Grande do Norte</option>
            <option value="RS">Rio Grande do Sul</option>
            <option value="RO">Rondônia</option>
            <option value="RR">Roraima</option>
            <option value="SC">Santa Catarina</option>
            <option value="SP">São Paulo</option>
            <option value="SE">Sergipe</option>
            <option value="TO">Tocantins</option>
        </select>
        <a id="estado-error" class="error"></a>
            
        <label for="cep">CEP:</label>
        <input type="text" id="cep" name="cep" >
        <a id="cep-error" class="error"></a>

        <label for="numero-cartao">Número do Cartão:</label>
        <input type="text" id="numero-cartao" name="numero-cartao" >
        <a id="numero-cartao-error" class="error"></a>

        <label for="validade-cartao">Data de Validade do Cartão:</label>
        <input type="text" id="validade-cartao" name="validade-cartao" placeholder="MM/AA" >
        <a id="validade-cartao-error" class="error"></a>

        <label for="cvv">CVV:</label>
        <input type="text" id="cvv" name="cvv " maxlength="3" > 
        <a id="cvv-error" class="error"></a>

        <input type="hidden" id="carrinho-data" name="carrinho-data">


        
        <button type="button" id="finalizar-compra" class="btn btn-primary">Finalizar Compra</button>
        <input type="hidden" id="carrinho-data" name="carrinho-data">


    </form>
    <script src="carrinho.js"></script>
    <script src="pagamento.js"></script>
</body>
</html>
